@model IEnumerable<TerminalArchive.Domain.Models.Parameter>

@{
    ViewBag.Title = "Параметры";
}

<h2>Параметры</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Path)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Path)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.ActionLink("Редактировать", "AddOrEditParameters", new { id = item.Id },
                        new
                        {
                            @class = "btn btn-default btn-block",
                            //+ ("" == ViewBag.CurrentController ? " btn-primary btn-block" : "")
                            @style = "max-width:200px"
                        })
                </td>
            </tr>
        }
        <tr>
            <td></td>
            <td></td>
            <td></td>
           <td>
                @Html.ActionLink("Добавить параметр", "AddOrEditParameters", new { },
                    new
                    {
                        @class = "btn btn-primary btn-block",
                        //+ ("" == ViewBag.CurrentController ? " btn-primary btn-block" : "")
                        @style = "max-width:200px"
                    })
            </td>
        </tr>


    </tbody>
</table>
