@using TerminalArchive.WebUI.HtmlHelpers
@model TerminalArchive.WebUI.Models.HistoryViewModel

@{
    ViewBag.Title = "Протокол работы";
}
<div>

    <h3>@ViewBag.Title</h3>

    @Html.Partial("TerminalInfo", Model.Terminal)

        <div>

            @if (!string.IsNullOrWhiteSpace(Request.Params["rrn"]))
            {
                <div class="btn-group pull-left">
                    @Html.ActionLink("Вся история", "List", "History",
                        new
                        {
                            page = 1
                        }, new { @class = "btn btn-block btn-primary" }
                        )
                </div>
            }

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Дата</th>
                        <th>Терминал</th>
                        <th>Заказ</th>
                        <th>Состояние</th>
                        <th>Источник</th>
                        <th>Сообщение</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var order in Model.History)
            {
                    <tr>
                        <td>@order.Date</td>
                        <td>@order.Terminal</td>
                        <td>@order.Order</td>
                        <td>@order.State</td>
                        <td>@order.Trace</td>
                        <td>@order.Message</td>
                        <td>
                            @if (!string.IsNullOrWhiteSpace(order.Order) && string.IsNullOrWhiteSpace(Request.Params["rrn"])) {
                            <div class="btn-group">
    <button type="button" data-toggle="dropdown" class="btn btn-default btn-sm dropdown-toggle">
        Действия <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li>
            @Html.ActionLink("По этому заказу", "List", "History",
                        new
                        {
                            id = Model.Terminal.Id,
                            rrn = order.Order,
                            page = 1
                        }, null
                        )
        </li>
    </ul>

</div> 
                            }
</td>
                    </tr>
                    }
                </tbody>
            </table>


        </div>
        <div class="btn-group pull-right">
            @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x, rrn = Request.Params["rrn"] }))
        </div>
    </div>




    @*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdTerminal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Terminal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdState)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trace)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message)
            </th>
        </tr>

        @foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdTerminal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Terminal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdOrder)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Order)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdState)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Trace)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Message)
        </td>
    </tr>
}

    </table>*@
